* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.margintop {
  margin-top: 0;
  margin-bottom: 0;
}

.fontitul {
  color: #ec5242;
  font-size: 45px;
  font-weight: 900;
  line-height: 46px;
}

.fontsec {
  color: #ec5242;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 5px;
}

.description {
  background-color: #d3d3d3;
  color: #1d1c1c;
  border: #ffffff solid 3px;
  padding: 15px;
}

.flexrow {
  display: flex;
  align-items: center;
}

.flexcolum {
  display: flex;
  flex-direction: column;
}

.subtit {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  color: #1d1c1c;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
}

nav {
  height: 80px;
}

.mobmenu {
  width: 100%;
  height: 100%;
}

footer img {
  width: 150px;
}

.mobmenu img {
  height: 30px;
  padding-left: 35px;
}

/* HEADING */
.heading {
  background-image: url('../Img/heading.jpg');
  background-size: 100% 100%;
  padding-top: 100px;
  padding-left: 18px;
  padding-right: 18px;
}

.heading .p {
  font-size: 22px;
  color: #1d1c1c;
  padding-bottom: 40px;
  margin-bottom: 0;
}

/* PROGRAM */
.program {
  background-image: url('../Img/op1.png');
  align-items: center;
}

.program img {
  width: 60px;
}

.program h4 {
  width: 30%;
  color: #ec5242;
  font-size: 18px;
  font-weight: 700;
}

.program p {
  width: 50%;
  color: #fff;
}

.linea {
  background-color: #ec5242;
  height: 2px;
  min-width: 70px;
}

.program ul {
  list-style-type: none;
  padding: 4%;
  gap: 12px;
}

.program li {
  background-color: #4242429a;
  gap: 10px;
  padding: 5px 10px;
  height: 120px;
}

.program button {
  width: 275px;
  height: 85px;
  background-color: #ec5242;
  color: #fff;
  font-size: 20px;
  border: none;
  margin-bottom: 28px;
}

/* SPEAKERS */
#speakers {
  background-color: #fff;
  align-items: center;
}

.st2 {
  color: #1d1c1c;
}

.mb {
  margin-bottom: 28px;
}

.speaker {
  gap: 15px;
  padding: 19px;
}

.photo,
.photo img {
  width: 150px;
  height: 150px;
}

.name {
  font-size: 23px;
  color: #272a31;
  margin-top: 0;
  margin-bottom: 5px;
}

.job {
  color: #ec5242;
  font-style: italic;
  margin-top: 0;
}

.linea2 {
  background-color: #bebebe;
  height: 2px;
  width: 25px;
}

.about {
  color: #1d1c1c;
  font-size: 14px;
}

/* PARTNERS */
.partners {
  background-color: #3f3c3c;
  align-items: center;
}

.brands {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}

.partners img {
  width: 100px;
  padding: 15px;
}

/* FOOTER */
footer {
  background-color: #ffffff;
  height: 130px;
  justify-content: center;
  padding: 0 20px;
  gap: 16px;
}
